@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
    </h1>
    <p>
        LazarMedia's Email Notifications System. The system that allows you to configure and send emails to clients.
    </p>
</div>
